# Dependências
node_modules/

# Expo
.expo/
.expo-shared/
web-build/
dist/

# Build nativo (gerados por expo run:*)
android/
ios/

# Cache / temporários
*.tsbuildinfo
*.orig.*
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Configs locais
.env
.env*.local
*.key
*.pem
*.jks
*.p8
*.p12
*.mobileprovision

# IDE / SO
.DS_Store
Thumbs.db
.vscode/
.idea/

# Metro bundler
.metro-health-check*

# Exemplos / arquivos de teste locais
app-example
